*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    background:#121212;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}


/* HEADER */


.album-header{

    display:flex;

    align-items:flex-end;

    gap:35px;

    padding:60px;

    height:420px;

    background: linear-gradient(#556b2f, #2e3b1f, #121212);

}


.cover{

    width:240px;

    height:240px;

    object-fit:cover;

}



/* INFO */


.album-info h1{

    font-size:82px;

    margin:12px 0;

}


.album-info p{

    color:#aaa;

}




/* PLAY */


.play-btn{

    margin-top:35px;

    width:64px;

    height:64px;

    border-radius:50%;

    border:none;

    background:#1ED760;

    font-size:26px;

    cursor:pointer;

}




/* TRACKS */


.track-list{

    padding:30px 60px 120px;

}



.tracks-header{

    display:grid;

    grid-template-columns:60px 1fr 120px 100px 80px;

    color:#aaa;

    padding:15px;

    border-bottom:1px solid #333;

}



.track{

    display:grid;

    grid-template-columns:

    60px 
    1fr
    120px
    100px
    80px;


    height:60px;

    align-items:center;

    padding:0 15px;

    border-radius:6px;

}


.track:hover{

    background:#2a2a2a;

}



.track-number{

    color:#aaa;

}



.play-icon{

    display:none;

}


.track:hover .number{

    display:none;

}


.track:hover .play-icon{

    display:inline;

}



.track-title{

    font-size:16px;

}



.track-plays{

    color:#aaa;

}



.track-duration{

    color:#aaa;

    text-align:right;

}




.lyrics-btn{


    background:none;

    border:1px solid #555;

    color:white;

    border-radius:15px;

    padding:5px 12px;

    cursor:pointer;

}



.lyrics-btn:hover{


    background:#1ED760;

    color:black;

}




.active{

    color:#1ED760;

}


.track.active{

    background:#242424;

}

/* DISK */


.disk-title{

    margin:35px 0 15px;

    font-size:20px;

    font-weight:bold;

    color:white;

}





/* LYRICS WINDOW */


.lyrics-modal{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.65);

    display:flex;

    justify-content:flex-end;

    opacity:0;

    visibility:hidden;

    transition:.3s;

}



.lyrics-modal.open{

    opacity:1;

    visibility:visible;

}



.lyrics-window{


width:450px;

height:100%;

background:#181818;

padding:40px;

overflow:auto;

transform:translateX(100%);

transition:.3s;


}



.lyrics-modal.open .lyrics-window{

transform:translateX(0);

}




#closeLyrics{


position:absolute;

right:25px;

top:25px;


background:none;

border:none;

color:white;

font-size:25px;

cursor:pointer;

}



#lyricsTitle{

font-size:28px;

margin-bottom:30px;

}



#lyricsText{

white-space:pre-line;

line-height:1.8;

font-size:17px;

color:#ddd;

}
